/* DetailPage.css */

.note-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 30px;
  background-color: #8b78be; /* Dark background for the note container */
  color: #ffffff; /* Light text color */
  border-radius: 10px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  color: #e0e0e0; /* Light text for the title */
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex !important;
  align-items: center !important;
}

.btn-primary {
  background-color: #2cd07e; /* Green primary button for dark theme */
  color: white;
}

.btn-primary:hover {
  background-color: #1b9e58; /* Slightly darker green on hover */
}

.btn-danger {
  background-color: #ff5050; /* Red button for danger */
  color: white;
}

.btn-danger:hover {
  background-color: #e04343; /* Darker red on hover */
}

.description {
  line-height: 1.6;
  text-align: justify;
  color: #e0e0e0; /* Light text for description */
}
